#header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 3.6rem auto auto;

  #nav {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.4rem;
    background: darken(#03daa9, 36);

    .navList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 1.2rem;

      .navItem {
        display: inline;
        justify-self: center;
        align-self: center;
        width: fit-content;

        .navLink {
          display: inline-block;
          font-size: 1.6rem;
          padding: 0 0rem;
          width: 100%;
          text-align: center;
          padding: 0 1.6rem;

          transition: 0.3s all;

          &:hover {
            color: darken(#03daa9, 10);
          }

          svg {
            display: block;
            font-size: 2.1rem;
            height: 2.1rem;
            margin: 0 auto;
          }
        }

        .active {
          font-weight: 700;
          color: #03daa9;
        }
      }
    }
  }
  .btn {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  #header {
    #nav {
      position: relative;
      background-color: transparent;
      height: auto;

      .navList {
        display: block;
        padding: 0;

        .navItem {
          width: auto;

          .navLink {
            font-size: 2.1rem;
            width: auto;
            transition: 0.3s ease;

            &:hover {
              color: darken(#03daa9, 10);
            }

            &:active {
              color: darken(#03daa9, 20);
            }

            svg {
              display: none;
            }
          }
          .active {
            color: #03daa9;
          }
        }
      }
    }

    .btn {
      display: inline-block;
      background-color: transparent;
      border: 4px solid #03daa9;
      border-radius: 0.4rem;
      padding: 0.8rem 2.8rem;
      margin: 0 0.8rem;

      color: #ffffff;
      font-size: 2.1rem;
      font-weight: 700;
      font-family: "Ubuntu Mono", monospace;
      transition: 0.3s all;

      &:hover {
        background-color: darken(#03daa9, 10);
        border-color: darken(#03daa9, 10);
        color: darken(#ffffff, 10);
      }

      &:active {
        transition: 0.2s all;
        background-color: darken(#03daa9, 20);
        border-color: darken(#03daa9, 20);
      }

      &.btnSolid {
        background-color: #03daa9;
        border-color: #03daa9;
        color: #ffffff;

        &:hover {
          background-color: transparent;
          border-color: darken(#03daa9, 10);
          color: darken(#ffffff, 10);
        }

        &:active {
          border-color: darken(#03daa9, 20);
          color: darken(#ffffff, 20);
        }
      }
    }
  }
}

@media screen and (min-width: 55em) {
  #header #nav .navList .navItem {
    margin-right: 3.2rem;
  }
}

@media screen and (min-width: 70em) {
  #header {
    #nav {
      .navList .navItem {
        margin-right: 7.2rem;
        .navLink {
          font-size: 2.4rem;
        }
      }
    }
    .btn {
      font-size: 2.4rem;
      margin: 0 1.6rem;
    }
  }
}
