#form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;

  label,
  input,
  textarea {
    display: block;
    width: 100%;
  }

  input,
  textarea {
    background: #262626;
    border: 0.2rem solid #03daa9;
    border-radius: 0.4rem;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
  }

  label {
    font-size: 1.8rem;
    padding: 0.5em 0;
  }

  input {
    font-size: 1.6rem;
    padding: 0.5em 1em;
    margin: 0.8rem 0;
  }

  textarea {
    font-size: 1.6rem;
    padding: 1em;
    margin-top: 0.8rem;
    resize: vertical;
  }

  button {
    background: #3daa93;
    border: 0.2rem solid #3daa93;
    border-radius: 0.4rem;

    color: #ffffff;
    font-size: 2.1rem;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    text-align: center;
    cursor: pointer;

    width: fit-content;
    padding: 0.5em 1.5em;
    margin: 2.4rem 0;
    align-self: end;

    transition: 0.3s all;

    &:hover {
      background: transparent;
    }

    &:active {
      color: darken(#ffffff, 20);
      border-color: darken(#3daa93, 20);
    }
  }
}

@media screen and (min-width: 48em) {
  #form {
    display: grid;
    grid-template-areas:
      "name email"
      "message message"
      "btn btn";
    gap: 3.2rem;
    min-width: 60rem;

    input {
      margin-bottom: 0;
    }

    #nameContainer {
      grid-area: name;
    }

    #emailContainer {
      grid-area: email;
    }

    #messageContainer {
      grid-area: message;
    }

    button {
      grid-area: btn;
    }
  }
}
